body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #1f0b5e;
    color: white;
    font-size: 17px;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input-area {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 1rem;

    > textarea {
        border-radius: 10px;
        padding: 0.5rem;
        resize: none;
    }

    > button {
        height: 60px;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        border-bottom: 4px solid rgba(128, 128, 128, 0.661);
        text-transform: uppercase;
        font-weight: 800;
        background: rgb(236, 24, 123);

        &:hover {
            border: 2px solid rgba(128, 128, 128, 0.522);
        }
    }
}
